<div class="container mt-5">
  <h1>Trips</h1>

  <div class="results">
  </div>

  <div class="section mt-3">
    <form action="/trips/new">
      <button class="btn btn-secondary btn-block btn-lrg">Create Trip</button>
    </form>
  </div>
</div>

<script>
    $('.results').html('')

    $.ajax(`/api/trips`).done( response => {
      var counter = 0
      response.forEach(trip => {
      
        var tripCard = document.createElement('div')
        tripCard.classList.add('card', 'col', 'm-3')

          var tripBody = document.createElement('div')
          tripBody.classList.add('card-body')

            var cardTitle = document.createElement('h5')
            cardTitle.classList.add('card-title')
            cardTitle.innerHTML = trip.name
            tripBody.append(cardTitle)

            var cardSubtitle = document.createElement('h6')
            cardSubtitle.classList.add('card-subtitle', 'mb-2', 'text-muted')
            cardSubtitle.innerHTML = trip.location
            tripBody.append(cardSubtitle)

            var cardText = document.createElement('p')
            cardText.classList.add('card-text')
            cardText.innerHTML = `${moment(trip.start_date).format("D MMM YYYY")} - ${moment(trip.start_date).format("D MMM YYYY")}`
            tripBody.append(cardText)

            var cardLink = document.createElement('a')
            cardLink.classList.add('card-link', 'btn', 'btn-primary')
            cardLink.innerHTML = 'View'
            cardLink.href = `/trips/${trip.id}/places`
            tripBody.append(cardLink)
        
        tripCard.append(tripBody)
          
        if (counter % 2 == 0) {
          var row = document.createElement('div')
          row.classList.add('row', 'trips')
          row.append(tripCard)
          $('.results')[0].appendChild(row)
        } else {
          $('.row').last().append(tripCard)
        }
        counter += 1
      })
    })
</script>