<div class="container">
  <h1>Create New Trip</h1>

  <form action="/trips" method="post">
    <div class="form-group">
      <label for="">Trip Title</label>
      <input  class="form-control" type="text" name='trip-name'>
    </div>
    <label for="">Start Date</label>
    <input type="date" name='start-date'>
    <label for="">End Date</label>
    <input type="date" name='end-date'>
    <label for="">Location</label>
    <input type="text" name='location'>
    <label for="">Accomodation Address:</label>
    <input type="text" name='accommodation-address'>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>