<div class="container mt-5">
  <h1>Create New Trip</h1>

  <form action="/trips" method="post">
    <div class="form-group">
      <label for="">Trip Title</label>
      <input  class="form-control" type="text" name='trip_name'>
    </div>
    <form>
  <div class="row">
    <div class="col">
      <label for="">Start Date</label>
      <input class="form-control" type="date" name='start_date'>
    </div>  
    <div class="col">
      <label for="">End Date</label>
      <input class="form-control" type="date" name='end_date'>
      </div>
    </div>
    <div class="form-group">  
      <label for="">Location</label>
      <input class="form-control" type="text" name='location'>
    </div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button class="btn btn-secondary">Submit</button>
  </form>
</div>