<%= render 'shared/trip_header'%>

<h1>Add travellers here</h1>

<form action="" class="add-traveller-form">
  <input type="text" placeholder="Traveller email address" class="traveller-email-input">
  <button class='add-traveller-btn'>Add Traveller</button>
</form>

<script>

  var currentTravellersHeader = document.createElement('h4');
  currentTravellersHeader.textContent = "Current Travellers:";
  document.body.appendChild(currentTravellersHeader);

  function showTravellersByTripId() {

    var allTravellerElements = document.querySelectorAll('.traveller-element');
    allTravellerElements.forEach(element => element.remove())

    $.ajax(`/api/travellers?trip_id=<%= params[:id] %>`).done( response => {

      response.forEach(response => {

        var travellerElement = document.createElement('h5');  
        travellerElement.textContent = response.user_email;
        travellerElement.classList.add('traveller-element');
        document.body.appendChild(travellerElement);

      });
    })  
  }

  showTravellersByTripId();
</script>

<script>
  var addTravellerForm = document.querySelector('.add-traveller-form');
  function addNewTraveler(event) {
    event.preventDefault();
    // Add new traveller to table;
    var travellerEmailInput = document.querySelector('.traveller-email-input');
    $.ajax({
      url: '/api/travellers/create',
      data: {
        user_email: travellerEmailInput.value,
        trip_id: <%= params[:id] %>
      },
      method: 'post'
    }).done(response => {
      // debugger
      var newTraveler = document.createElement('h5');
      newTraveler.textContent = response.user_email;
      document.body.appendChild(newTraveler);
    })  
  }


  addTravellerForm.addEventListener('submit', addNewTraveler)
</script>