<%= render "shared/trip_header"%>

<div class="container mt-3">
    <h1>Trip Calendar</h1>

    <div class="section mt-3">
        <h2>Events</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Event</th>
                </tr>
            </thead>
            <tbody>
                <%# <% @result.items.each do |event| %>
                <%# <tr> %>
                    <%# <th scope="row"><%= event.start.date_time || event.start.date </th> %>
                    <%# <td><%=event.summary</td> %>
                <%# </tr> %>
                <%# <% end %>
            </tbody>
        </table>
    </div>

    <div class="section">
        <a href="https://calendar.google.com/calendar/r" class="btn btn-secondary">View in Google Calendar</a>
    </div>
</div>

<script>
    $.ajax(`/api/places?trip_id=<%= params[:id] %>`).done( response => {
        response.items.forEach(event => {
            var h1 = document.createElement('h1')
            h1.innerHTML = event.summary
            $('.section.mt-3')[0].appendChild(h1)
        })
    })
</script>