<div class="jumbotron">
  <h1 class="display-4">Are you sure you want to delete?</h1>
  <p class="lead">If you click this button you are deleting this place of interest.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Yes</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">No</a>
  </p>
</div>

  <form class="btn btn-primary btn-lg" action="/delete_rating" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="id" value="<%= places["id"]%>">
    <button>yes</button>
  </form>


