<h2>Places</h2>

<a class="btn btn-secondary" href="places/new" role="button">Add a place</a>

<h3>Vote for the places you're interested in visiting while you're in <%= @trip_name %></h3>

<br>



<div class="vote-line">
  <div class="vote circle">
    <div class="increment up"></div>
    <div class="increment down"></div>
    <div class="count">0</div>
  </div>
  <div>
    <h3>Botanic Gardens</h3>
  </div>
</div>

<div class="vote-line">
  <div class="vote circle">
    <div class="increment up"></div>
    <div class="increment down"></div>
    <div class="count">0</div>
  </div>
  <div>
    <h3>NGV</h3>
  </div>
</div>

<div class="vote-line">
  <div class="vote circle">
    <div class="increment up"></div>
    <div class="increment down"></div>
    <div class="count">0</div>
  </div>
  <div>
    <h3>Lune Bakery</h3>
  </div>
</div>

<div class="vote-line">
  <div class="vote circle">
    <div class="increment up"></div>
    <div class="increment down"></div>
    <div class="count">0</div>
  </div>
  <div>
    <h3>State Library</h3>
  </div>
</div>



<script>

$(function(){
  $(".increment").click(function(){
    var count = parseInt($("~ .count", this).text());
    
    if($(this).hasClass("up")) {
      var count = count + 1;
      
       $("~ .count", this).text(count);
    } else {
      var count = count - 1;
       $("~ .count", this).text(count);     
    }
    
    $(this).parent().addClass("bump");
    
    setTimeout(function(){
      $(this).parent().removeClass("bump");    
    }, 400);
  });
});

</script>