<h2>New Places</h2>

<div class="md-form active-pink active-pink-2 mb-3 mt-0">
  <form action="/search">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="searchstring">
    <button type="submit">Search</button>
  </form>
</div>

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
  Add Place
</button>

<ul>
  <li>Place</li>
</ul>


<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://maps.google.com/maps?q=paris&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>



<script>
  var btn = document.querySelector('button')
  var ul = document.querySelector('ul')
  var input = document.querySelector('input')

  btn.addEventListener('click', (event) => {
    event.preventDefault()
    searchstring = $('.form-control')[0].value
    // var place = input.value

  $.ajax(`/api/places/search?searchstring=${searchstring}`).done(response => {
  response.candidates.forEach(place => {
    var h1 = document.createElement('h1')
    h1.innerHTML = place.name
    var h3 = document.createElement('h3')
    h3.innerHTML = place.rating
    document.body.appendChild(h1)
    document.body.appendChild(h3)
        // place.name
        // place.formatted_address
        // place.rating
        // place.types(this is an array)
      })
    })
  })


</script>

