<div class="jumbotron">
  <h1 class="display-4">Here is showing the id</h1>
  <p class="lead">Here we are showing more detailed information on the specic place</p>
  <hr class="my-4">
  <p>This would have a list</p>
  <ul class="list-group list-group-flush">
  <li class="list-group-item">Hours: params</li>
  <li class="list-group-item">Cost: params</li>
  <li class="list-group-item">Description: params</li>
  <li class="list-group-item">Location: params</li>
  <li class="list-group-item">Type: params</li>
  <li class="list-group-item">Rating: params</li>
    <li class="list-group-item">Notes: params</li>
</ul>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Edit</a>
  </p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Delete</a>
  </p>
</div>